<html>

<head>
    <title>Edit My Project - {{data.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

    body {
    background-color: #dce0e4 !important;
}
</style>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/image/dumbways.png" alt="Logo" class="navbar-logo" style="width:50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" href="/my-project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testimoni">Testimonial</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                       {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link fw-bold active">Hello, {{user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                    <li class="nav-item d-none d-lg-inline">
                        <a class="btn btn-dark" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5 w-50">
    <form action="/edit-project/{{ data.id }}" method="POST" enctype="multipart/form-data">
        <h2 class="text-center">Edit My Project</h2>
        <div class="mb-3">
            <label for="input-project-name" class="form-label">Project Name</label>
            <input id="input-project-name" name="title" class="form-control" value="{{data.title}}" required />
        </div>
        
        <div class="mb-3 row">
            <div class="col-md-6">
                <label for="input-start-date" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="input-start-date" name="start-date" value="{{data.start_date}}" required>
            </div>
            <div class="col-md-6">
                <label for="input-end-date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="input-end-date" name="end-date" value="{{data.end_date}}" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="input-project-description" class="form-label">Description</label>
            <textarea id="input-project-description" name="content" class="form-control" required>{{data.description}}</textarea>
        </div>

        <!-- checkbox -->
        <div class="mb-3">
            <label for="input-checkboxes" class="form-label d-block">Technologies</label>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="css" name="tech" value="fa-css3-alt" />
                        <label class="form-check-label" for="css">CSS</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="html" name="tech" value="fa-html5" />
                        <label class="form-check-label" for="html">HTML</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="python" name="tech" value="fa-python"/>
                        <label class="form-check-label" for="python">Python</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="nodejs" name="tech" value="fa-node-js" />
                        <label class="form-check-label" for="nodejs">NodeJS</label>
                    </div>
                </div>
            </div>   
        </div>

        <!-- image -->
        <div class="mb-3">
            <label for="input-image" class="form-label">Upload Image</label>
            <input class="form-control" type="file" id="input-image" name='image' value="{{ data.image}}" required>
        </div>


        <input type="hidden" name="id" value="{{ id }}">
        <div class="text-end">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>

<script>
      const selectedTechs = "{{data.technologies}}"; 
      const cssBox = document.getElementById("css"); 
      const htmlBox = document.getElementById("html"); 
      const nodeBox = document.getElementById("nodejs"); 
      const pythonBox = document.getElementById("python"); 
      cssBox.checked = selectedTechs.includes("fa-css3-alt"); 
      htmlBox.checked = selectedTechs.includes("fa-html5"); 
      nodeBox.checked = selectedTechs.includes("fa-node-js"); 
      pythonBox.checked = selectedTechs.includes("fa-python");
</script>

</body>
</html>