<!DOCTYPE html>
<html>

<head>
    <title>Portofolio Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets\css\home.css" />
    <link rel="stylesheet" href="assets\css\index.css" />
    <link rel="stylesheet" href="assets\css\icon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>


<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/image/dumbways.png" alt="Logo" class="navbar-logo" style="width:50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active fw-bold" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testimoni">Testimonial</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link fw-bold active">Hello, {{user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                    <li class="nav-item d-none d-lg-inline">
                        <a class="btn btn-dark" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

        {{#if messages.success}}
            <div class="alert alert-success" role="alert">
                <div class="container">
                {{messages.success}}
                </div>
            </div>
        {{/if}}

    <section class="container1">
            <div class="text_side">
                <h2> Selamat datang dan salam kenal!</h2>                  

                <p style="text-align: justify;"> Reza Liswara, mahasiswa lulusan program studi Matematika di Universitas Islam Negeri Syarif Hidayatullah Jakarta. Saat ini berkecimpung di dunia pemrograman khususnya di bidang Data Science, Machine Learning, dan Web Developer. Awalnya hanya tertarik pada bidang Data, akan tetapi setelah lulus diberikan kesempatan merasakan menjadi Web Developer dibagian Backend. Sehingga, saat ini tertarik juga pada dunia Web Developer. </p>

                <div style="display: flex; margin-top: 30px;">
                    <div style="width: 70px; height: 30px;">
                        <a href="https://drive.google.com/file/d/1kwx53Tce7dOa4_HpVpYtK1jjDtCGc8U9/view?usp=sharing" target="_blank">
                            <i class="fa-regular fa-file"> CV</i>
                        </a>    
                    </div>
                    <div class="contact">
                        <p class="contact text">
                            contact
                        </p>
                    </div>
                </div>

                <div style="margin: 20px auto; ">
                    <a href="https://www.instagram.com/rezaliz_?igsh=MW4xeXg1NXdkazljYQ==" target="_blank">
                        <i class="fa-brands fa-instagram icon"></i>
                    </a>
                    <a href="https://github.com/Abahski" target="_blank">
                        <i class="fa-brands fa-github icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/reza-liswara" target="_blank">
                        <i class="fa-brands fa-linkedin icon"></i>
                    </a>    
                </div>
            </div>
            <div class="image_side">
                <img src="assets\image\Foto Reza.jpg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
                <h2>Reza Liswara</h2>
                <p>Programmer Wannabe</p>
            </div>
    </section>

    <section class="content-result-project bg-light pt-5 pb-5">
    <div class="container-fluid mt-5">
        <h2 class="text-center">My Project</h2>
        {{#if isLogin}}
            <div class="d-flex justify-content-end mb-3">
              <a class="btn btn-dark btn-submit ms-5" href="/my-project">Add Project</a>
            </div>
        {{/if}}
        <div class="text-end mt-3 mb-5">
            </div>
            <!-- baris -->
            <div class="row" id="home">
                {{#each data}}
                <div class="col-lg-4 mt-4">
                    <!-- card -->
                    <div class="card border=0 shadow">
                        <img 
                            src="./assets/image/background.jpg"
                            class="card-img-top"
                            height="300" 
                        />
                        <div class="card-body">
                            <h5 class="card-title fw-bold">
                                <a href="/project-page/{{this.id}}" target="_blank"
                                class="text-dark text-decoration-none" 
                                >{{this.title}}</a>
                            </h5>
                            <small class="text-secondary fs-6">
                                Durasi: {{ this.duration}} | {{this.createdAt}} <br> 
                                Reza Liswara
                            </small>
                            <div class="d-flex mt-3">
                                {{#each this.technologies}}
                                        <div class="d-flex mt-4">
                                            <i class="fa-brands {{this}} fa-2xl me-3"></i>
                                        </div>
                                {{/each}}
                            </div>
                            <p class="text-paraf mt-4">
                                {{this.description}}
                            </p>
                             <small class="text-secondary fs-6">
                                    <p> Last Edited {{ this.updatedAt }}</p>
                            </small>
                            
                            {{#if this.isLogin}}
                            <div class="btn-bottom d-flex justify-content-center mb-2">
                                <a
                                  href="/edit-project/{{this.id}}"
                                  class="btn btn-dark me-1 p-0 w-50"
                                >Edit</a>
                                <a
                                  href="/delete/{{this.id}}"
                                  class="btn btn-dark p-0 w-50"
                                >Delete</a>
                            </div>
                                {{/if}}
                        </div>
                    </div>
                    <!-- card -->
                </div>
                {{/each}}
            </div>
        <!-- baris -->
    </div>
</section>
</body>
</html>
