<!DOCTYPE html>

<html>
<head>
	<title>Project Page - {{data.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<style>
    .tech-icon {
      font-size: 24px;
      margin-right: 10px;
    }

    body {
    background-color: #dce0e4 !important;

    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
}
</style>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/image/dumbways.png" alt="Logo" class="navbar-logo" style="width:50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" href="/my-project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testimoni">Testimonial</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                       {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link fw-bold active text-dark">Hello, {{user}}</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                    <li class="nav-item d-none d-lg-inline">
                        <a class="btn btn-dark" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="text-center">{{data.title}}</h1>

    <section class="d-flex flex-wrap justify-content-around p-3">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img src="/uploads/{{data.image}}" alt="Description of the image" class="img-fluid">
            </div>

            <div class="col-md-6 mb-3">
                <h2 class="fs-3">Durasi</h2>
                
                <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-calendar"></i>
                    <p class="mb-0 ms-2">{{data.start_date}} - {{data.end_date}}</p>
                </div>
                
                <div class="d-flex align-items-center mb-3">
                    <i class="fa-regular fa-clock"></i>
                    <p class="mb-0 ms-2">{{data.duration}}</p>
                </div>
                
                <h2 class="fs-3">Technologies</h2>
                
                <div class="icon-tech d-flex mt-3">
                    {{#each data.technologies}}
                        <i class="fa-brands {{this}} fa-2xl me-3"></i>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <article class="article p-3">
        <p>{{data.description}}</p>
    </article>
</div>



</body>
</html>

